body
{
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}

@font-face {
  font-family: consolas;
  src: url("/Inconsolata-Regular.ttf");
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-thumb { background-color: rgb(255, 148, 148); }

.titlebar
{
  width: 100%;
  background-color: rgb(255, 148, 148);
  overflow: hidden;
  position: sticky;
  top: 0%;
}
.titlebar button
{
  float: right;
  padding: 10px 15px;
  transition: 0.2s;
  color: black;
  text-decoration: none;
  font-family: Consolas;
  background-color: transparent;
  border: none;
  outline: none;
}
.titlebar button.title { float: left; }
.titlebar button.title:hover { background-color: rgb(255, 148, 148); color: black; }
.titlebar button:hover { background-color: white; color: rgb(255, 148, 148); }
.titlebar button#closeBtn:hover { background-color: rgb(255, 61, 61); color: white; }

.drag { -webkit-app-region: drag; }
.nodrag { -webkit-app-region: no-drag; }

.statusbar
{
  position: fixed;
  bottom: 0%;
  background-color: rgb(216, 216, 216);
  width: 100%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: consolas;
}

.hidden { visibility: hidden; position: absolute; top: 300%; }

textarea
{
  outline: none;
  width: 99%;
  padding: 10px;
  border: none;
  resize: none;
  font-family: consolas;
}